.shake-btn {
  width: 120px;
  height: 70px;
  font-size: 20px;
  color: white;
  background-color: #8dc8f8;
  border: none;
  border-radius: 5px;
}

.shake-btn:hover {
  animation-name: shake;
  animation-duration: 0.6s;
}

.rotate-plus {
  display: block;
  font-size: 100px;
  margin: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.rotate-plus:hover {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* 흔들버튼 애니메이션 */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  40% {
    transform: rotate(7deg);
  }
  60% {
    transform: rotate(-7deg);
  }
  80% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* 회전하는 기호 애니메이션 */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}
