html {
  line-height: 1.15; /*기본 행간 높이*/
}

body {
  margin: 0px;
  background-color: rgb(73, 72, 72);
}

div,
input,
textarea {
  box-sizing: border-box;
}

/* 여기부터 내 css */

/* max, min-width를 사용해 반응형으로 만들어주는 습관 */
.main-container {
  background-color: white;
  width: 80%;
  max-width: 420px;
  min-width: 420px;
  margin: auto;
  padding: 30px;
}

.input-form {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.main-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
}

.email-box {
  width: 100%;
}

.firstName-box {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.lastName-box {
  width: 50%;
  float: right;
}

.message-box {
  width: 100%;
  padding-bottom: 30px;
}

.subcscribe-check {
  float: left;
}

.submit-btn {
  width: 120px;
  height: 30px;
  position: relative;
  left: 152px;
  background-color: orange;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
