progress {
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: pink;
  border-radius: 5px;
}

.progress-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.audio {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0px;
}

.main-background {
  width: 80%;
  max-width: 800px;
  height: 500px;
  padding: 1px;
  margin: auto;
  background-image: url(../image/prettyBackground.png);
  /* 이미지 공백 제거 */
  background-size: cover;
  /* 이미지 반복 제거 */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* 필터 조정 */
  filter: opacity(90%);
}

.main-title {
  color: black;
  font-size: 40px;
  margin: 150px 0px 20px 0px;
  text-align: center;
}

.main-description {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.main-button {
  background-color: aliceblue;
  color: #1e6b7b;
  font-size: 25px;
  margin: 50px 0px 0px 0px;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  /* 아래 3줄은 버튼을 가운데 정렬하기 */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  position: relative;
  left: 300px;
}

.sub-background {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
}

.services-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  flex-basis: 25%;
  text-align: center;
}

.services-item i {
  background-color: burlywood;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-top: 25px;
  margin-top: 20px;
  box-sizing: border-box;
  color: white;
}

.shop-background {
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
}

.shop-container {
  display: flex;
  width: 80%;
  margin: auto;
}

.shop-item {
  width: 33%;
  padding: 10px;
}

.shop-item img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
}

/* 트리거 */
.overlay:hover {
  opacity: 1;
}

.homework-bg {
  background-color: #eee;
  padding: 20px;
}

.homework-container {
  display: flex;
  width: 80%;
  margin: auto;
}

.homework-item {
  width: 33%;
  padding: 10px;
}

.homework-item img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1200px) {
  .services-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 576px) {
  .services-item {
    flex-basis: 100%;
  }
}
