.white-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.pill {
  display: inline-block;
  border-radius:100px;
  border: 1px solid lightgrey;
  padding: 3px 12px 5px 12px;
}
