.main-container {
  padding: 1px;
  width: 100%;
}

.main-description {
  padding: 1px;
  max-width: 1900px;
  display: flex;
  background: linear-gradient(to top, #594eb9 0%, #4997dc);
}

.main-description-left {
  color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.main-description-left span {
  font-size: 25px;
}

.main-description-right img {
  vertical-align: bottom;
  width: 40%;
  margin: 100px 50px 0px 500px;
}

.show-more-btn {
  background-color: rgb(95, 95, 95);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.show-more-btn:hover {
  background-color: rgb(51, 50, 50);
}

.sub-description {
  max-width: 1900px;
  padding: 50px;
}

.sub-description h3 {
  text-align: center;
  margin: auto;
}

.sub-description p {
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

.show-portfolio-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgb(78, 78, 78);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.show-portfolio-btn:hover {
  background-color: rgb(117, 117, 117);
}

.offer-description {
  padding: 1px;
  max-width: 1900px;
  background-color: #4e61c0;
  color: white;
  text-align: center;
}

/* services */
.offer-description p {
  margin: 40px 0px 5px 0px;
}

/* What We offer */
.offer-description span {
  font-size: 20px;
  margin: 5px 0px 15px 0px;
}

.item-box {
  padding: 1px;
  display: flex;
  max-width: 1900px;
  justify-content: center;
  text-align: center;
  background-color: #4e61c0;
  padding-bottom: 50px;
}

.offer-item {
  margin: 20px;
}

/* icon */
.offer-item i {
  color: #4e61c0;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  padding-top: 25px;
  margin-top: 20px;
  box-sizing: border-box;
}

/* Responsive, Experiments, Quickness, Global Shipping */
.offer-item span {
  display: block;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  color: white;
}

/* lorem ipsum i love coding */
.offer-item p {
  margin: 10px 0px 10px 0px;
  color: white;
}

.can-do-title {
  max-width: 1900px;
  padding: 30px;
}

.can-do-title p {
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.can-do-title h3 {
  text-align: center;
  margin: auto;
}

.explain-can-do {
  padding: 1px;
  max-width: 1900px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.do-item {
  position: relative;
}

.do-item img {
  vertical-align: bottom;
  width: 600px;
}

.overlay-box {
  position: absolute;
  width: 90%;
  height: 80%;
  z-index: 2;
  border: 0px solid white;
  transition: all 0.3s;
}

.overlay-box:hover {
  border: 20px solid white;
}

.text {
  position: absolute;
  color: white;
  margin: 40px;
  z-index: 1;
}

.text p {
  font-size: 20px;
  margin-bottom: 20px;
}

.do-item:nth-child(1) > img {
  filter: brightness(60%);
}

.footer {
  text-align: center;
}

.footer i {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #4e61c0;
  border-radius: 50%;
  padding-top: 15px;
  margin: 60px 10px 20px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.source {
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
}

@media screen and (max-width: 1500px) {
  .explain-can-do {
    flex-direction: column;
  }

  .do-item {
    margin: auto;
  }
}

/* 모바일 */
@media screen and (max-width: 992px) {
  .main-description {
    display: block;
  }

  .main-description-right img {
    width: 260px;
    display: block;
    margin: auto;
    margin-top: 42px;
  }

  .main-description-left {
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }

  .item-box {
    flex-direction: column;
  }

  .explain-can-do {
    flex-direction: column;
  }

  .do-item {
    margin: auto;
  }
}
